@media (max-width: 768px) {
    .navbar{
        background-color: #061420;
        z-index: 1;
    }
}
.nav-container{
    margin-bottom: 20px;
 }
 .navbar .navbar-toggler{
    color: green;
    border: 2px solid green;
 }
 /* .navbar-toggler {
     background-color: transparent;
 } */
 .navbar-toggler-icon{
     background-color: cyan;
 }