  
.circle{
   height: 20px;
   width: 20px;
   color: rgb(134, 145, 145);
}
.brand-style{
   color: rgb(24, 192, 192);
}
.header-area{
  position: relative;
  margin-bottom: 50px;
}
.particle-area{
   position: absolute;
}