.header-section{
   overflow-x: hidden;
}  
.circle{
   height: 20px;
   width: 20px;
   color: rgb(134, 145, 145);
}
.brand-style{
   color: rgb(24, 192, 192);
}
.header-area{
  position: absolute;
  top: 0;
  margin-top: 150px;
  overflow: hidden;
}
.particle-area{
   position: relative;
}
